doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Toxin
        link(rel="stylesheet", type="text/css" href="../../styles/dist/header.css")
    body
header 
    .header 
        .logo
            img(src="../../resources/Logo.png", alt="!", , width="105.69px", height="40px", left="140px")
        .textgroup  
            li 
                a(href="#" style="font-weight: 700; color: rgba(31, 32, 65, 0.75)") О нас    
            li
                a(href="#")  Услуги˅
            li
                a(href="#")  Вакансии
            li
                a(href="#")  Новости
            
            li  
                a(href="#")  Соглашения˅
                
        button.login ВОЙТИ
        a(href="#").register ЗАРЕГИСТРИРОВАТЬСЯ 