doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title mobilefooter 
        link(rel="stylesheet", type="text/css" href="../../styles/dist/mfooter.css")
    body
footer 
    .footer 
        .logo 
            img(src="../../resources/Logo.png", alt="!")
        .txt 
            p Copyright © 2018 Toxin отель. Все права защищены.
        .icons 
            img(src="../../resources/icons.png", alt="!")