doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Toxin
        style
            include styles/normalize.css
    body
        include modules/header
        style
            include styles/dist/header.css
        include modules/footer
        style
            include styles/dist/footer.css
        //- include modules/mfooter
        //- style 
        //-     include styles/dist/mfooter.css
